body{
    background-color: lightblue;
    font-family: fantasy;
}

.container{
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    grid-gap: 190px;
    padding: 10px;
}

#description {
    font-size: 18px;
    width: 300px;
    padding-top: 25px;
    align-self: auto;
}

.numOfLikes{
    margin-left: 25px;
}

.countbutton{
    margin-left: 20px;
    max-width: 200px;
    width: 180px;
}