.container{

    display: flex;
    flex-wrap: wrap;
    width: 75%;
    grid-gap: 190px;
    padding: 10px;
}

#description {
    font-size: 18px;
    width: 300px;
    padding-top: 25px;
    align-self: auto;
}

.numOfLikes{
    text-align: center;
}

.btn{
    margin:0px;
}